[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "utils/fzf"]
	path = utils/fzf
	url = https://github.com/junegunn/fzf
[submodule "zsh/base16-shell"]
	path = zsh/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "mac/Pecan"]
	path = mac/Pecan
	url = https://github.com/aglorei/Pecan.git
[submodule "zsh/geometry"]
	path = zsh/geometry
	url = https://github.com/geometry-zsh/geometry
