[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "mac/Pecan"]
	path = mac/Pecan
	url = https://github.com/aglorei/Pecan.git
[submodule "roles/utils/files/fzf"]
	path = roles/utils/files/fzf
	url = https://github.com/junegunn/fzf
[submodule "roles/utils/files/base16-shell"]
	path = roles/utils/files/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "roles/utils/files/oh-my-zsh"]
	path = roles/utils/files/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "roles/utils/files/geometry"]
	path = roles/utils/files/geometry
	url = https://github.com/geometry-zsh/geometry
[submodule "roles/utils/files/fast-syntax-highlighting"]
	path = roles/utils/files/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
