[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==2.7.1"
"asn1crypto" = "==0.24.0"
bcrypt = "==3.1.4"
cffi = "==1.11.5"
cryptography = "==2.3"
idna = "==2.7"
paramiko = "==2.4.1"
"pyasn1" = "==0.4.3"
pycparser = "==2.18"
six = "==1.11.0"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
PyNaCl = "==1.2.1"
PyYAML = "==3.13"

[dev-packages]

[requires]
python_version = "3.7"
