[core]
  editor = {{ git_core.editor }}
  excludesfile = ~/.gitignore_global
[user]
  name = {{ git_user[git_profile].name }}
  email = {{ git_user[git_profile].email }}
  signingkey = {{ git_user[git_profile].signingkey }}
[commit]
  gpgsign = true
[diff "ansible-vault"]
  textconv = ansible-vault view
